img[src$="centerme"] {
    display:block;
    margin: 0 auto;
}

.yearbar{
border-top: 2px solid #ccc;
color: #ccc;
margin: 4ex 0ex 1ex 0;
/* padding-top: 1ex; */
text-align: right;
font-size: 130%;
}

.masthead{
    width: 100%;
    position: fixed;  
    background-color: #fff;      
    color: #fff;
}

.container.content{
    padding-top: 100px;
}

.utterances{
    float: center;
}

summary::-webkit-details-marker {
    font-size: 25px;
    margin-right: 30px;
}
details[open] summary::-webkit-details-marker {
    font-size: 25px;
    margin-right: 30px;
}

summary {
    cursor: pointer;
    font-size: 20px;
}
summary.reference {
    font-size: 18px;
}
summary.difficult {
    color: #ff0000;
}
summary.platinum {
    color: #b9f2ff;
}
summary.gold {
    color: #ffd700;
}
summary.silver {
    color: #C0C0C0;
}
summary.bronze {
    color: #CD7F32;
}

#search-bar {
    margin: 32px auto;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 0 20px;
}

#search-bar #search-input {
    width: calc(100% - 30px);
    border: none;
    line-height: 44px;
    outline: none;
    border-style: none;
}

li.search {
    list-style:none;
    padding-bottom:10px;
    list-style-type:square;
}